@charset "UTF-8";

#pi-content01, #pi-content02 {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.sec-title {
  position: relative;
  height: 53px;
  padding: 0 20px;
  line-height: 53px;
  color: #fff;
  font-size: 157.14286%;
  font-weight: bold;
  background: #558b2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.sec-title > .icon-circle {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  position: relative;
  width: 25px;
  height: 25px;
  border: 2px solid currentColor;
  border-radius: 50%;
  box-sizing: content-box;
  transition: transform 0.3s ease-out;
}
.sec-title > .icon-circle > span {
  width: 52%;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.sec-title > .icon-circle > span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
  transition: transform 0.3s ease-out;
}
.sec-title.open > .icon-circle > span::before {
  transform: rotate(0deg);
}